*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#cover{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0,-50%);
    width: 30%;
    height: 90%;
    background-image: url(https://images.unsplash.com/photo-1703858951087-8c007b5aff4b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

@media(max-width:500px){
    #cover{
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#cards{
    align-items: flex-start;
    justify-content: center;
    min-height:200px ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    gap: 20px;
}

#cards .card{
    padding: 20px;
    width: 300px;
    background-color: rebeccapurple;
}

@media(max-width:1000px){
    #cards{
        flex-direction: column;
    }
}