*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#box{
    height: 20%;
    width: 10%;
    background-color: red;
    animation-name: move;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    position: absolute;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes move {
    0%{
        background-color: red;
        top: 0;
    }
    33%{
        top: 0;
        left: 90%;
        background-color: blue;
    }
    66%{
        left: 90%;
        top: 80%;
        background-color: yellow;
    }
    100%{
        left: 0%;
        top: 80%;
        background-color: green;
    }
    
}

