*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#box{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: royalblue;
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}

@keyframes move {
    0%{
        left: 0;
    }
    100%{
        left: 87%;
    }
}