*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;

}

#left{
    height: 100%;
    width: 50%;
    position: relative;
    overflow: hidden;
}

#right{
    height: 100%;
    width: 50%;
    position: relative;
}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: relative;
    z-index: 999;
    position: absolute;
    color: white;
    animation-name: mc;
    opacity: 0;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#nav h1{
    font-family: ogg;
    text-transform: uppercase;
    font-size: 20px;
}

#nav i{
    font-size: 20px;
}

#left img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 99;
    animation-name: root;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;

}

#left>h1{
    position: absolute;
    right: 3%;
    bottom: 3%;
    color: #fff;
    z-index: 99;
    font-size: 80px;
    font-family: ogg;
    text-align: right;
    line-height:78px;
    animation-name: bc;
    animation-delay: 1s;
    opacity: 0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#img1{
    position: absolute;
    height: 190px;
    width: 160px;
    object-fit: cover;
    left: 40%;
    transform: translate(-50%,0);
    animation-name: move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#img2{
    animation-name: move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: absolute;
    height: 290px;
    width: 220px;
    object-fit: cover;
    top: 50%;
    left: 10%;
    transform: translate(0,-50%);
}

#img3{
    animation-name: move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: absolute;
    height: 150px;
    width: 160px;
    object-fit: cover;
    bottom: 0;
    left: 50%;
}

#right>h1{
    position: absolute;
    font-size: 50px;
    rotate: -90deg;
    right: -14%;
    top: 24%;
}

@keyframes move{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}

#overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgb(161, 33, 33);
    animation-name: move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes root {
    0%{
        transform: rotate(30deg)scale(1.4);
        opacity: 0;
    }
    100%{
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}


@keyframes bc {
    0%{
        transform: translateY(100%);
        opacity:0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes mc {
    0%{
        transform: translateY(-100%);
        opacity:0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}